<section>
    <!-- 
        -data interpolition
     -->


    <!-- <div class="container">
        <h1 *ngIf="onSeal">Hello from ngIf</h1>
    </div> -->

    <!-- <ng-template #hambozo>
        <h1 class="text-center bg-danger p-5 text-white mt-5">No Data Fetched</h1>
    </ng-template> -->
    
    <!-- <div class="container">
        <table *ngIf=" users.length > 0; else hambozo" class="table mt-5">
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Even</th>
            </thead>
            <tbody>
                <tr  [class.bg-info]="isOdd" *ngFor="let user of users; let isOdd = odd">
                    <td>{{user.id}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.salary}}</td>
                    <td>{{isOdd}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->



    <!-- <div class="container">
        <h1 class="text-center">Home Page</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card-info bg-secondary text-white p-3 text-center">
                    <img class="w-100" [src]="imgSrc">
                    <p>name: {{ userName }} </p>
                    <p>age: {{ age }}</p>
                    <p>salary: {{ salary }}</p>
                    <button (click)="sayHello()" class="btn btn-info">Click Here</button>
                </div>
        
            </div>
        </div>
    </div> -->




<!-- <div class="container">

    <div [ngSwitch]="userName">
        <div *ngSwitchCase=" 'ahmed' ">welcome ahmed</div>
        <div *ngSwitchCase=" 'ali' ">welcome ali</div>
        <div *ngSwitchCase=" 'abdelrazek' ">welcome abdelrazek</div>
        <div *ngSwitchDefault>welcome user</div>
    </div>
    
</div> -->




<h1 class="bg-danger py-5 text-center">Home page</h1>
</section>